 
<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <form action="/profil-guncelle" method="post" enctype="multipart/form-data">    
                    <h2 class="border-bottom text-center fw-semibold"><%= __('profile') %></h2>
                     <% if (locals.validation_error!=undefined || locals.success_message!=undefined || locals.login_error!=undefined  ) { %>                                     
                                    <%- include('./partials/_mesaj')%>
                     <% } %>  

                    <div class="d-flex align-items-start py-3 border-bottom ">
                        <img src="/uploads/avatars/<%- user.avatar  %>" class="rounded-circle" alt="" width="200" height="120" style="margin-left: 10px;"> 
                        <div class="col-md-1"></div>                        
                         <div class="row">
                            <h5><%= __('pphoto') %></h5>
                            <p><%= __('pinfo') %></p> 
                            <div class="input-group input-group-sm mb-3" id="img-section">
                                <input type="file" name="avatar" class="btn button border"><b></b></input>                                        
                            </div>
                        </div>                        
                    </div>
                    <div class="py-2" style="margin: 5px;margin-left: 10px;">
                        <div class="row py-2">
                            <div class="col-md-6">
                                <label for="firstname"><%= __('name') %></label>
                                <input type="text" name="ad" value="<%- user.ad %>" class="bg-light form-control" placeholder="Guven">
                            </div>
                            <div class="col-md-6 pt-md-0 pt-3">
                                <label for="lastname"><%= __('surname') %></label>
                                <input type="text" name="soyad" value="<%- user.soyad %>" class="bg-light form-control" placeholder="Berber">
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <label for="mail"><%= __('email') %></label>
                                <input type="text" name="mail" value="<%- user.mail %>"class="bg-light form-control" readonly placeholder="someone@email.com">
                            </div> 
                            <div class="col-md-6 pt-md-0 pt-3">
                                <!--

                                <label for="language"><%= __('language') %></label>
                                <div class="arrow">
                                    <select name="language" id="language" class="bg-light">
                                        <option value="english" selected>English</option>
                                        <option value="english_us">English (United States)</option>
                                        <option value="enguk">English UK</option>
                                        <option value="tr">Turkish</option>
                                    </select>
                                </div>
                                -->
                            </div>                           
                        </div>                            
                        <div class="py-2">
                            <div class="col-md-6 pt-md-0 pt-3" id="role">
                                    <%= __('aroles') %>
                                    <ul class="list-group">
                                        <li class="list-group-item"><%- user.role %> </li>                                                                             
                                    </ul>
                            </div>
                        </div>
                        <div class="py-3 pb-4 border-bottom">
                            <button type="submit" class="btn btn-primary"><%= __('save') %></button>
                            <a href="\" type="button" class="btn btn-secondary" ><%= __('cancel') %></a>
                        </div>
                </form>
                <!--
                <div class="d-sm-flex align-items-center justify-content-between pt-3" id="deactivate">
                    <div>
                        <b><%= __('dainfo') %></b>                        
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deactivateModal">
                            <%= __('deactivate') %>
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Deactivate Modal -->
<div class="modal fade" id="deactivateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deactivation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to deactivate your account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Yes, Deactivate</button>
      </div>
    </div>
  </div>
</div>

