<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <!--<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>-->
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2"><%= __('chpassword') %></h1>
                                <p class="mb-4"> <%= __('cpinfo') %></p>
                            </div>
                            <% if (locals.validation_error!=undefined || locals.success_message!=undefined || locals.login_error!=undefined  ) { %>
                                <%- include('./partials/_mesaj')  %>
                            <% } %> 
                            <form class="user" action="/resetpassword/<%- userId %>" method="post">
                                <input type="hidden" name="id" value="<%= typeof id != 'undefined' ? id : ''%>">
                                <input type="hidden" name="token" value="<%= typeof token != 'undefined' ? token : ''%>">                                                                
                                <br>
                                <div class="form-group">
                                    <input type="password" value="<%= typeof sifre != 'undefined' ? sifre : ''%>" name="sifre" class="form-control form-control-user"
                                        id="exampleInputEmail" aria-describedby="emailHelp"
                                        placeholder="<%= __('password') %>">
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="password" value="<%= typeof resifre != 'undefined' ? resifre : ''%>" name="resifre" class="form-control form-control-user"
                                        id="exampleInputEmail" aria-describedby="emailHelp"
                                        placeholder="<%= __('repassword') %>">
                                </div>
                                <br>
                                 <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">
                                    <%= __('savepassword') %>
                                </button>
                                 </div>
                                
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


