<li><a class="dropdown-item" href="/change-password"><%= __('chpassword') %></a></li>
<li><a class="dropdown-item" href="/administration"><%= __('admin') %></a></li>
<li><a class="dropdown-item" href="/category"><%= __('kategori') %></a></li>
<li><a class="dropdown-item" href="/administration"><%= __('urunler') %></a></li>
<li><a class="dropdown-item" href="/profil"><%= __('profile') %></a></li>
<li><hr class="dropdown-divider" /></li>
<li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal" ><%= __('signout') %> </a></li>